	<style>
		.first{
			color: blueviolet;
		}
		.second{
			color: yellow;
		}
		.third{
			color: lawngreen;
			font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
			background-color: red;
		}
		.fourth{
			color: palevioletred;
			background-color: lightslategrey;
			font-size: 30px;
			font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
		}
		.fifth{
			color: dimgrey;
			font-size: 50px;
			font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
			background-color: sandybrown;
		}
		.sixth{
			font-size: 60px;
			font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
			color: azure;
			background-color: peachpuff;
		}
		.seventh{
			color: darkmagenta;
			font-size: 85px;
			font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
			background-color: forestgreen;
		}
	</style>