html, body {
    max-width: 100%;
    overflow-x: hidden;
}

footer {
    width: 92%;
    border: 00;
    padding: 00;
    margin: 4%;
    height: 500px;
}

@media screen and (min-width: 768px){
.img2-jumbotron {
    padding-top: 200px;
    padding-bottom: 290px;
}

.img-jumbotron {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  color: inherit;
  background-image: url(http://media.gettyimages.com/photos/smiling-black-baby-girl-eating-cereal-from-bowl-in-high-chair-picture-id672157751);
}

header div h3{
	color:#000000;
	font-family:'Open Sans Condensed', sans-serif; 
}
body div h3{
	color:#808080;
	font-family:"Open Sans", sans-serif;
}
body div h3:hover{
		color:#4EB7F5;
		font-weight: bold;
		text-decoration: none;
}
body div ol{
	color:#4EB7F5;
	font-family:"Open Sans", sans-serif;
}
body div ul{
	color:#4EB7F5;
	font-family:"Opens Sans", sans-serif;
}
body div ul li{
	color:#808080;
	font-family:"Opens Sans", sans-serif;
}
footer div p{
	color:#222222;
	font-family:Open Sans Condense;
}
footer div p:hover{
	color:#000000;
	font-family:Open Sans Condense;
	text-decoration: underline;
}


