header div h3{
	color:#000000;
	font-family:'Open Sans Condensed', sans-serif; 
}
body div h3{
	color:#808080;
	font-family:"Open Sans", sans-serif;
}
body div h3:hover{
		color:#4EB7F5;
		font-weight: bold;
		text-decoration: none;
}
body div ol{
	color:#4EB7F5;
	font-family:"Open Sans", sans-serif;
}
body div ul{
	color:#4EB7F5;
	font-family:"Opens Sans", sans-serif;
}
body div ul li{
	color:#808080;
	font-family:"Opens Sans", sans-serif;
}
footer div p{
	color:#222222;
	font-family:Open Sans Condense;
}
footer div p:hover{
	color:#000000;
	font-family:Open Sans Condense;
	text-decoration: underline;
}
