html, body {
    max-width: 100%;
    overflow-x: hidden;
    padding-top:5.5%;
    /**Handled issue where container content were hidden under nav bar by adding some padding to the top of the <body>.**/
}

.navbar-divider{
 	margin-top:5px;
 	margin-bottom:5px;
 	height:1px;
 	width:100%;
 	border-top:1px solid gray;
 }

.navbar-cust-style {
    margin-bottom: 0;
    z-index: 9999;
    border: 0;
    font-size: 13px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 2px;
    border-radius: 0;
}

.contact-font{
	margin-bottom: 20px;
  	font-size: 14px;
  	font-weight: 100;
  	line-height: 2;
}

.btn-cust {
  color: #ffffff;
  background-color: #4eb7f5;
  border-color: #46b8da;
}

.btn-cust:focus,
.btn-cust.focus {
  color: #ffffff;
  background-color: #31b0d5;
  border-color: #1b6d85;
}

.btn-cust:hover {
  color: #ffffff;
  background-color: #31b0d5;
  border-color: #269abc;
}

/**.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #f4511e !important;
    background-color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}**/

.margin-cust {
    width: 92%;
    border: 00;
    padding: 00;
    margin: 4%;
    height: 500px;
}

.img2-jumbotron {
    padding-top: 200px;
    padding-bottom: 290px;
}

.img-jumbotron {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  color: inherit;
  background-image: url(http://media.gettyimages.com/photos/smiling-black-baby-girl-eating-cereal-from-bowl-in-high-chair-picture-id672157751);
}

header div h3{
	color:#000000;
	font-family:'Open Sans Condensed', sans-serif; 
}

body div h3{
	color:#808080;
	font-family:"Open Sans", sans-serif;
}

body div h3:hover{
		color:#4EB7F5;
		font-weight: bold;
		text-decoration: none;
}

body div ol{
	color:#4EB7F5;
	font-family:"Open Sans", sans-serif;
}

body div ul{
	color:#4EB7F5;
	font-family:"Opens Sans", sans-serif;
}

body div ul li{
	color:#808080;
	font-family:"Opens Sans", sans-serif;
}

footer div p{
	color:#222222;
	font-family:Open Sans Condense;
}

footer div p:hover{
	color:#000000;
	font-family:Open Sans Condense;
	text-decoration: underline;
}


