<!--this is for size/quantity selector-->
<div class="form-group">
    <label for="exampleSelect1">Example select</label>
    <select class="form-control" id="exampleSelect1">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>

  <select class="custom-select">
  <option selected>Open this select menu</option>
  <option value="1">One</option>
  <option value="2">Two</option>
  <option value="3">Three</option>
</select>

<!--this will be for forms/input group-->
  <div class="form-group row">
  <label for="example-text-input" class="col-xs-2 col-form-label">Text</label>
  <div class="col-xs-10">
    <input class="form-control" type="text" value="Artisanal kale" id="example-text-input">
  </div>
</div>
<div class="form-group row">
  <label for="example-search-input" class="col-xs-2 col-form-label">Search</label>
  <div class="col-xs-10">
    <input class="form-control" type="search" value="How do I shoot web" id="example-search-input">
  </div>
</div>
<div class="form-group row">
  <label for="example-email-input" class="col-xs-2 col-form-label">Email</label>
  <div class="col-xs-10">
    <input class="form-control" type="email" value="bootstrap@example.com" id="example-email-input">
  </div>
</div>

<form>
  <div class="form-group">
    <label for="formGroupExampleInput">Example label</label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2">Another label</label>
    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
  </div>
</form>

<!--use this <card> for major categories-->
<div class="card">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-block">
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>

<!--CONTACT CONTAINER-->
<div class="container-fluid bg-grey">
  <h2 class="text-center">CONTACT</h2>
  <div class="row">
    <div class="col-sm-5">
      <p>Contact us and we'll get back to you within 24 hours.</p>
      <p><span class="glyphicon glyphicon-map-marker"></span> Chicago, US</p>
      <p><span class="glyphicon glyphicon-phone"></span> +00 1515151515</p>
      <p><span class="glyphicon glyphicon-envelope"></span> myemail@something.com</p> 
    </div>
    <div class="col-sm-7">
      <div class="row">
        <div class="col-sm-6 form-group">
          <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
        </div>
        <div class="col-sm-6 form-group">
          <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
        </div>
      </div>
      <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea><br>
      <div class="row">
        <div class="col-sm-12 form-group">
          <button class="btn btn-default pull-right" type="submit">Send</button>
        </div>
      </div> 
    </div>
  </div>
</div>

<!--lABLE AND BADGES FOR (SOLD OUT & STOCK NUMBER)-->
<ul class="list-group">
  <li class="list-group-item">September <span class="label label-danger">Sold Out!</span></li>
  <li class="list-group-item">October <span class="label label-danger">Sold Out!</span></li> 
  <li class="list-group-item">November <span class="badge">3</span></li> 
</ul>

<!--Remove border and add padding to thumbnails-->
.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
    }
    

<!--For pagination and navigation through pages note:not active cell added-->
<nav aria-label="Page navigation">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item"><a class="page-link" href="#">4</a></li>
    <li class="page-item"><a class="page-link" href="#">5</a></li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
  </ul>
</nav>

<!--CSS FOR BREADCRUMBS-->
.breadcrumb {background: rgba(245, 245, 245, 1); border: 0px solid rgba(245, 245, 245, 1); border-radius: 0px; display: block;}
.breadcrumb li {font-size: 14px;}
.breadcrumb a {color: rgba(149, 158, 166, 1);}
.breadcrumb a:hover {color: rgba(42, 100, 150, 1);}
.breadcrumb>.active {color: rgba(67, 138, 173, 1);}
.breadcrumb>li+li:before {color: rgba(191, 180, 180, 1); content: "\276F\00a0";}

<div class="row">
  <div class="breadcrumb col-md-12">
<!--ASK ABOUT BREADCRUMBS-->

<!--STYLE NAVBAR HOVER STYLE, ACTIVE STYLE, = #4eb7f5; ACTIVE FONT COLOR AND HOVER FONT COLOR = #FFFFFF-->

<!--WHEN JUMBOTRON IS TAKEN OFF FROM BABYBOYS THUMBNAILS HIDE UNDER NAVBAR-->

<!--LOOKS LIKE COL-SM-2 OVERRIDES CUSTOM MARGIN-->

<!--ADD PROMPT FOR IF SIZE IS NOT SELECTED-->

<!--CREATE AN ADD TO BASKET BUTTON FOR THUMBNAILS-->

<!--BREADCRUMBS FOR VARIOUS PAGES-->

<!--ASK ABOUT HREF FOR DROPDOWN MENU-->

<!--CONSIDER ADDIING MATERNITY REF=MOTHERCARE-->

<!--ADD OFFSET 1 TO CONTACT US PAGE-->




http://imagesmat1.ctscdn.com/media/d/330/462/f492af9d-0d3e-4a59-b88c-9fffb9c5302a/kids-disney-minnie-mouse-dress-and-legging-set-newborn-18mths-.jpg



    background: #f9f9f9;
    border: solid #cbcbcb;
    border-width: 1px 1px 1px 0;
    color: #9d6e47;
    height: 46px;

        color: #9d6e47;
    background: #f9f9f9;
    border: 1px solid #cbcbcb;
    text-align: left;
    padding: 0;
    margin: 12px 0 0 0;
    font-size: 16px;


    We are using cookies to give you the best experience on our site. Cookies are files stored in your browser and are used by most websites to help personalise your web experience. By continuing to use our website without changing the settings, you are agreeing to our use of cookies.