<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"> 	
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Checkout | The Baby Hub</title>
  <link type="text/css" rel="stylesheet" href="bootstrap.css"/>
  <link type="text/css" rel="stylesheet" href="homepage2.CSS"/>
</head>
<body>
  <header>
    <div class="container-fluid">
      <!--Main Header Here--> 
      <div class="main-header">
        <div class="row">
        <!--Search Here-->
          <div class="col-md-3">
            <div id="search">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Enter keyword">
                <span class="input-group-btn">
                  <button class="search-btn btn" type="button">
                    <i class=" fa fa-search"></i> 
                  </button>
                </span>
              </div>
            </div>
          </div>  
          <!--Search End-->
          <!--Logo Here-->
          <div class="col-md-6 ">
            <div id="logo">
              <a href="#">
                <img src="static/img/thebabyhub1.svg" title="The Baby Hub" alt="The Baby Hub" class="img-responsive">
              </a>
            </div>
          </div>
          <!--Logo End-->
          <!--Cart Here-->
          <div class="col-md-3">
            <div class="btn-group btn-block">
              <button type="button" data-toggle="dropdown" class="cart-btn btn-block dropdown-toggle" aria-expanded="false">
                <i class="fa fa-shopping-basket fa-lg"></i>
                <!--<span class="hidden-md">:</span>-->
                <span id="cart-total">0 item(s): ₵0.00</span>
                <i class="fa fa-angle-down"></i>
              </button>
            </div>
          </div>  
        </div>
      </div>
    </div>
    <div class="container-fluid">
    <nav class="navbar navbar-custom">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="menu-toggle-button navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <i style="color:#4eb7f5" class="fa fa-list fa-2x" aria-hidden="true"></i>
            <span class="menu-toggle-name">menu</span>
          </button>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="container-fluid navbar-border">
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                  <li><a href="#" title="Home"><i class="fa fa-home fa-lg" aria-hidden="true"></i><span class="sr-only">(current)</span></a></li>
                  <li class="dropdown">
                      <a href="#" title="Baby Care" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Baby Care <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                      <ul class="dropdown-menu">
                        <li><a href="#">Baby Oils</a></li>
                        <li><a href="#">Powders</a></li>
                        <li><a href="#">Body Lotions</a></li>
                      </ul>
                  </li>
              </ul>
              <ul class="nav navbar-nav ">
                  <li class="dropdown">
                    <a href="#" title="Diapering" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Diapering <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                      <ul class="dropdown-menu">
                        <li><a href="#">Diapers</a></li>
                        <li><a href="#">Wipes</a></li>
                        <li><a href="#">Changing & Diaper Bags</a></li>
                        <li><a href="#">Diapering Guide</a></li>
                    </ul>
                  </li>
              </ul>
              <ul class="nav navbar-nav">
                  <li class="dropdown">
                      <a href="#" title="Bath & Wash" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Bath & Wash <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                      <ul class="dropdown-menu">
                        <li><a href="#">Wash Cloths</a></li>
                        <li><a href="#">Sponges</a></li>
                        <li><a href="#">Soap & Shampoos</a></li>
                        <li><a href="#">Towels</a></li> 
                        <li><a href="#">Toothbrush & Paste</a></li>          
                      </ul>
                  </li>
              </ul>
              <ul class="nav navbar-nav ">
                  <li class="dropdown">
                      <a href="#" title="Feeding" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Feeding <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                      <ul class="dropdown-menu">
                        <li><a href="#">Baby Formula</a></li>
                        <!-- <li><a href="#"></a></li>
                        <li><a href="#"></a></li>
                        <li><a href="#"></a></li>
                        <li><a href="#"></a></li> -->
                      </ul>
                  </li>
              </ul>
              <ul class="nav navbar-nav">
                  <li class="dropdown">
                      <a href="#" title="Nursery" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Nursery <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                      <ul class="dropdown-menu">
                      <li><a href="#">Moses Basket</a></li>
                      </ul>
                  </li>
              </ul>
              <ul class="nav navbar-nav">
                  <li class="dropdown">
                      <a href="#" title="Nursing & Feeding Accessories" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Nursing & Feeding Accessories <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                      <ul class="dropdown-menu">
                        <li><a href="#">Feeding Bottles</a></li>
                        <li><a href="#">Sterilizers</a></li>
                        <li><a href="#">Breast Pumps</a></li>
                        <li><a href="#">Nursing & Breast Pads</a></li>
                        <li><a href="#">Bibs</a></li>
                        <li><a href="#">Drinking Cups & Bottles</a></li>
                        <li><a href="#">Plates & Bowls</a></li>
                        <li><a href="#">Spoons</a></li>
                        <li><a href="#">Teethers & Pacifiers</a></li>
                        <li><a href="#">Bottle Brushes</a></li>
                      </ul>
                  </li>
              </ul>
              <ul class="nav navbar-nav">
                  <li class="dropdown">
                      <a href="#" title="Clothing" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Clothing <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                      <ul class="dropdown-menu">
                        <li><a href="#">Baby Boys</a></li>
                        <li><a href="#">Toddler Boys</a></li>
                        <li><a href="#">Boys</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Baby Girls</a></li>
                        <li><a href="#">Toddler Girls</a></li>
                        <li><a href="#">Girls</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Unisex</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Special Occasion</a></li>
                      </ul>
                  </li>
              </ul>
              <ul class="nav navbar-nav">
                  <li class="dropdown">
                      <a href="#" title="Gifts" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Gifts <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                      <ul class="dropdown-menu">
                        <li><a href="#">Gift Sets</a></li>
                      </ul>
                  </li>
              </ul>
              <ul class="nav navbar-nav">
                  <li class="dropdown">
                      <a href="#" title="Advice" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Advice <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                      <ul class="dropdown-menu">
                        <li><a href="#">During Pregnancy</a></li>
                        <li><a href="#">Newborn Baby</a></li>
                        <li><a href="#">Dads to become</a></li>
                  <!--CONTENT-->
                      </ul>
                  </li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
      </nav>
  </header>
  <div class="container">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item"><a href="#">Cart</a></li>
      <li class="breadcrumb-item active">Checkout</a></li>
    </ol>
  </div>
  <div class="container">
    <div class="col-lg-9 col-md-9 col-sm-12">
      <div class="col-sm-12 col-xs-12">
      <h3 style="color: #4eb5f7"><i class="fa fa-shopping-basket"></i> Checkout</h3>
      <h2 class="checkout-header">Fill in with your shipping and billing info</h2>
      <div class="col-xs-12 col-sm-6">
      <div class="form-group">
         <label for="InputName"><i class="fa fa-user" aria-hidden="true" style="color: #4eb7f5"></i> Name <small class="text-muted">Required<span style="color: red;">*</span></small></label>
                                            <input type="text" class="form-control" id="InputName" placeholder="Enter Full Name">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputNumber"><i class="fa fa-mobile fa-lg" aria-hidden="true" style="color: #4eb7f5"></i> Contact Phone <small class="text-muted">(For shipping related questions)<span style="color: red;">*</span></small></label>
                                            <input type="number" class="form-control" id="exampleInputNumber" placeholder="Contact Number">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail"><i class="fa fa-envelope" aria-hidden="true" style="color: #4eb7f5"></i> Email Address <small class="text-muted">Required<span style="color: red;">*</span></small></label>
                                            <input type="email" class="form-control" id="exampleInputEmail" placeholder="eg. user@example.com">
                                            <small id="Email" class="form-text text-muted">We'll never share your email with anyone else.</small>
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputLocation"><i class="fa fa-map-marker" aria-hidden="true" style="color: #4eb7f5"></i> Delivery Location <small class="text-muted">Required<span style="color: red;">*</span></small></label>
                                            <input type="text" class="form-control" id="exampleInputLocation" placeholder="eg. East Legon, American House">
                                        </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-6">
                                        <label for="comments"><i class="fa fa-book" aria-hidden="true" style="color: #4eb7f5"></i> Notes <small class="text-muted">Optional</small></label>
                                        <textarea class="form-control" id="comments" name="comments" placeholder="Notes about your order, eg. Special notes for delivery" rows="5"></textarea>
                                <h5><strong>
                                    <p>Choose a payment method</p>
                                </strong></h5>
                                <div class="radio radio-container">
                               <ul style="padding-left: 10px; margin-top: 10px;">
                                    <li><label class="payment-method-visa"><input type="radio" name="optradio">Payment on Delivery - Cash or Point Of Sale (P.O.S) Device(Ghana - Accra & Tema Only)</label></li>
                                   <li> <label class="payment-method-mmoney"><input type="radio" name="optradio">Mobile Money</label></li>
                                    </ul>
                                </div>
                                        </div>
                                  <div class="col-xs-12 col-sm-12">
                                  <div class="form-check text-right" style="margin-bottom: 20px;">
                                  </div>
                                  </div>
                                  </div>
                                         
  <label class="form-check-label">
    <input class="form-check-input" type="checkbox" value="">
    I've read and accepted the<a href="#" style="text-decoration: none;"> terms & conditions</a><span style="color: red;">*</span>
  </label>
</div>
                                  <div class="text-right">
                                <buttom type="submit" class="btn btn-cust continue-btn" style="margin-bottom: 10px;" value="Submit Button">Place your order</buttom>
                            </div>
                            </div>
      <footer class="footer-cust">
           <div class="container">
               <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
                        <h3 class="text-center">Services</h3>
                            <ul>
                                <li>
                                    <a href="#">Contact Us</a>
                                </li>
                                <li>
                                    <a href="#">Returns Policy</a>
                                </li>
                                <li>
                                    <a href="#">Privacy & cookie policy</a>
                                </li>
                                <li>
                                    <a href="#">Terms & conditions</a>
                                </li>
                            </ul>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
                        <h3>About Us</h3>
                            <ul>
                                <li>
                                    <a href="#">About us</a>
                                </li>
                                <li>
                                    <a href="#">Site Map</a>
                                </li>
                            </ul>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
                        <h3>Helping links</h3>
                        <ul>
                            <li>
                                <a href="#">Buying guide</a>
                            </li>
                            <li>
                                <a href="#">Sizing guide</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-4 col-md-4 col-md-offset-2 col-sm-4 col-xs-6">
                        <h3>Stay in touch</h3>

<!----CHECK MEDIA QUERIES FOR PAYMENT METHOD LOGO AND PLACE ORDER BUTTOM-->
       </footer>
                      



  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="bootstrap.js"></script>
    <script src="https://use.fontawesome.com/e7c7bd093f.js"></script>
</body>
</html>