<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
  <title>Returns Policy|The Baby Hub</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"/>
  <link type="text/css" rel="stylesheet" href="font-awesome/css/font-awesome.min.css"/>
  <link type="text/css" rel="stylesheet" href="bootstrap.css"/>
  <link type="text/css" rel="stylesheet" href="homepage2.css"/>
</head>
<body>
<header>
<div class="container-fluid">
  <!--Main Header Here-->
  <div class="main-header">
    <div class="row">
    <!--Search Here-->
      <div class="col-md-3">
        <div id="search">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Enter keyword">
            <span class="input-group-btn">
              <button class="search-btn btn" type="button">
                <i class=" fa fa-search"></i> 
              </button>
            </span>
          </div>
        </div>
      </div>  
      <!--Search End-->
      <!--Logo Here-->
      <div class="col-md-6 ">
        <div id="logo">
          <a href="#">
            <img src="img/logo2.png" title="The Baby Hub" alt="The Baby Hub" class="img-responsive">
          </a>
        </div>
      </div>
      <!--Logo End-->
      <!--Cart Here-->
      <div class="col-md-3">
        <div class="btn-group btn-block">
          <button type="button" data-toggle="dropdown" class="cart-btn btn-block dropdown-toggle" aria-expanded="false">
            <i class="fa fa-shopping-basket fa-lg"></i>
            <!--<span class="hidden-md">:</span>-->
            <span id="cart-total">0 item(s): ₵0.00</span>
            <i class="fa fa-angle-down"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
<nav class="navbar navbar-custom">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="menu-toggle-button navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <i style="color:#4eb7f5" class="fa fa-list fa-2x" aria-hidden="true"></i>
        <span class="menu-toggle-name">menu</span>
      </button>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
<div class="container-fluid navbar-border">
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
              <li><a href="#" title="Home"><i class="fa fa-home fa-lg" aria-hidden="true"></i><span class="sr-only">(current)</span></a></li>
              <li class="dropdown">
                  <a href="#" title="Baby Care" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Baby Care <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Baby Oils</a></li>
                    <li><a href="#">Powders</a></li>
                    <li><a href="#">Body Lotions</a></li>
                  </ul>
              </li>
          </ul>
          <ul class="nav navbar-nav ">
              <li class="dropdown">
                <a href="#" title="Diapering" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Diapering <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Diapers</a></li>
                    <li><a href="#">Wipes</a></li>
                    <li><a href="#">Changing & Diaper Bags</a></li>
                    <li><a href="#">Diapering Guide</a></li>
                </ul>
              </li>
          </ul>
          <ul class="nav navbar-nav">
              <li class="dropdown">
                  <a href="#" title="Bath & Wash" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Bath & Wash <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Wash Cloths</a></li>
                    <li><a href="#">Sponges</a></li>
                    <li><a href="#">Soap & Shampoos</a></li>
                    <li><a href="#">Towels</a></li> 
                    <li><a href="#">Toothbrush & Paste</a></li>          
                  </ul>
              </li>
          </ul>
          <ul class="nav navbar-nav ">
              <li class="dropdown">
                  <a href="#" title="Feeding" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Feeding <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Baby Formula</a></li>
                    <!-- <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li>
                    <li><a href="#"></a></li> -->
                  </ul>
              </li>
          </ul>
          <ul class="nav navbar-nav">
              <li class="dropdown">
                  <a href="#" title="Nursery" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Nursery <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                  <ul class="dropdown-menu">
                  <li><a href="#">Moses Basket</a></li>
                  </ul>
              </li>
          </ul>
          <ul class="nav navbar-nav">
              <li class="dropdown">
                  <a href="#" title="Nursing & Feeding Accessories" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Nursing & Feeding Accessories <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Feeding Bottles</a></li>
                    <li><a href="#">Sterilizers</a></li>
                    <li><a href="#">Breast Pumps</a></li>
                    <li><a href="#">Nursing & Breast Pads</a></li>
                    <li><a href="#">Bibs</a></li>
                    <li><a href="#">Drinking Cups & Bottles</a></li>
                    <li><a href="#">Plates & Bowls</a></li>
                    <li><a href="#">Spoons</a></li>
                    <li><a href="#">Teethers & Pacifiers</a></li>
                    <li><a href="#">Bottle Brushes</a></li>
                  </ul>
              </li>
          </ul>
          <ul class="nav navbar-nav">
              <li class="dropdown">
                  <a href="#" title="Clothing" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Clothing <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Baby Boys</a></li>
                    <li><a href="#">Toddler Boys</a></li>
                    <li><a href="#">Boys</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Baby Girls</a></li>
                    <li><a href="#">Toddler Girls</a></li>
                    <li><a href="#">Girls</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Unisex</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Special Occasion</a></li>
                  </ul>
              </li>
          </ul>
          <ul class="nav navbar-nav">
              <li class="dropdown">
                  <a href="#" title="Gifts" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Gifts <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Gift Sets</a></li>
                  </ul>
              </li>
          </ul>
          <ul class="nav navbar-nav">
              <li class="dropdown">
                  <a href="#" title="Advice" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Advice <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">During Pregnancy</a></li>
                    <li><a href="#">Newborn Baby</a></li>
                    <li><a href="#">Dads to become</a></li>
              <!--CONTENT-->
                  </ul>
              </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
  </nav>
</header>
<div class="container bg-grey">
  <ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="#">Home</a></li>
  <li class="breadcrumb-item active">Returns Policy</a></li>
</ol>
  <pre class="align-left" style="color:#4eb7f5;font-size: 25px" >RETURNS & EXCHANGE POLICY</pre>
    <div class="row">
      <div class=col-md-8>
        <p class="contact-font">
          The Baby Hub is excited and willing to refund or exchange products and items purchased from us within 28 days of purchase provided the terms and conditions below are met. 
          In order to be eligible for a return, your item must be unused and in the same condition that you received it. Items must be in a re-saleable condition i.e. undamaged, in their original and undamaged packaging, not worn and complete with all tags and labels attached. 
          We have the right to refuse to refund or exchange items that are returned which are not in re-saleable condition as stated above.  
          Several types of goods are exempt from being returned. Perishable goods such as food cannot be returned. We also do not accept products that are intimate or sanitary goods, hazardous materials, or flammable liquids or gases. 
          To complete your return, we require a receipt or proof of purchase. 
          Please do not send your purchase back to the manufacturer. 
        </p>
        <p class="contact-font">
          <span style="color:#4eb7f5">REFUNDS</span> (if applicable) 
          Once your return is received and inspected, we will contact you to notify you that we have received your returned item. We will also notify you of the approval or rejection of your refund. 
          If you are approved, then your refund will be processed, and arrangement will be done to receive refund by original method of payment, within a certain amount of days. 
        </p>
        <p class="contact-font">
          <span style="color:#4eb7f5">LATE OR MISSING REFUNDS</span> (if applicable) 
          If for some reason you haven’t received a refund yet, please first contact us again by <a href= "mailto:info@thebabyhub.com">email</a> or call +233 244000000.  
        </p> 
        <p class="contact-font">
          <span style="color:#4eb7f5">PROMOTIONAL OR DISCOUNTED ITEMS</span> (if applicable) 
          Only regular priced items may be refunded, unfortunately sale items cannot be refunded. 
        </p>
        <p class="contact-font">
          <span style="color:#4eb7f5">EXCHANGES</span> (if applicable) 
          We only replace items if they are defective or damaged.  If you need to exchange it for the same item send us an <a href= "mailto:abc@example.com">email</a> or call +233 244000000. 
        </p>
        <p class=contact-font>
          <span style="color:#4eb7f5">GIFTS</span>,
          If the item was marked as a gift when purchased and delivered directly to you, you’ll receive a gift credit for the value of your return. Once the returned item is received, a gift certificate will be given to you. 
          If the item wasn’t marked as a gift when purchased, or the gift giver had the order delivered to themselves to give to you later, we will send a refund to the gift giver and he/she will find out about your return. 
        </p>
        <p class="contact-font">
          You will be responsible for paying for your own delivery costs for returning your item. Delivery costs are non-refundable. If you receive a refund, the
          cost of return delivery will be deducted from your refund. 
          Depending on where you live, the time it may take for your exchanged product to reach you, may vary. 
        </p>
        <p>Since every order is 100% custom, we do not allow returns for reasons unrelated to quality. For example, we cannot refund or reproduce your order if you decide you do not want it, ordered the wrong size or prefer a different product.</p>
        <p>The most important aspects of our returns & refunds policies are:

            We must be contacted within 72 hours from delivery of any defects.
            We require you submit a photograph that clearly indicates the problem.
            We may request that you return 100% of a defective order before we reproduce your order
            We will pay for shipping and provide a shipping label if a return is required.
            We will reproduce or refund your order within 5 days if we verify that we made an error.
            When reproducing an order, the original production time and shipping method will be used and we will pay for shipping.
            All sales are final.
        </p>
    </div>
  </div>
</div>
<footer class="margin-cust">
  <div>
    <p><a href="#">About Us</a></p>
    <p><a href="#">Contact Us</a></p>
    <p><a href="#">Privacy Policy</a></p>
    <p><a href="#">Returns Policy</a></p>
    <p><a href="#">Terms & Conditions</a></p>
    <a href="Instagram URL"><img src="instagram URL"/></a>
    <p>© 2016 The Baby Hub. All rights reserved.</p>
  </div>
</footer>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="bootstrap.js"></script>
</body>
</html>