<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"> 	
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="Richard Abrokwah, Accra, Ghana">
  <meta name="google-site-verification" content="nZ5x6UEDgagaoJDIEJcc1nnZ-WCLHn8Dawh8BCBLLAs"/>
  	<title>The Baby Hub | Baby Care Made Easy</title>
  	<link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
  	<link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">
  	<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
  	<link type="text/css" rel="stylesheet" href="/static/bootstrap.min.css"/>
  	<link type="text/css" rel="stylesheet" href="/static/stylesheet.css"/>
    <link rel="apple-touch-icon" sizes="57x57" href="/static/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/static/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/static/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/static/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/static/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
    <link rel="manifest" href="/static/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
  	<style>
  		body {
  		background-color: #f8d4d4;  
  	}
  	</style>
</head>
<body>
	<div class="jumbotron">
    	<div class="container" style="body"></div>
	</div>
	<div class="container-fluid">
		<div class="col-md-12">
			<p class="comingsoon" style="color: #4eb5f7;"><strong>COMING SOON</strong></p>
		</div>
	</div>
	<div class="container">
		<div class="col-md-6 col-md-offset-3">
    <p class="text-muted" style="text-align: center; font-size: 14px; font-family: 'Oswald', sans-serif;">Enter your email to get notified when we launch</p>
			<form class="form" action="/notify" method="post">
				<div class="input-group">
            		<input type="text" class="form-control" id="submit" placeholder="Your email address" name="email">
            		<span class="input-group-btn">
              			<button class="submit-btn btn" style="letter-spacing: 2px;" type="submit">
               				Notify Me!
              			</button>
            		</span>
          		</div>
         	</form>
         	<p class="text-muted" style="text-align: center; font-size: 12px; font-family: 'Oswald', sans-serif;">*We'll never share your details with anyone else.</p>
        </div>
    </div>
	<div class="container">
		<p class="survey">Got a sec? Complete this<a style="text-decoration: none; color: #4eb5f7;" href="https://goo.gl/forms/Bp4AbFXKU9irFXQ93"><span class="survey2"> survey!</span> </a> to make us feel loved.</p>
	</div>
	<div class="comingsoon-social-share social-share">
        <h4>Share With Your Friends</h4>
        <p>
            <a href="https://www.facebook.com/sharer/sharer.php?u=thebabyhub.store" class="facebook" title="Share on facebook" >
                <i class="fa fa-facebook fa-2x" aria-hidden="true"></i>
            </a>
            <a href="https://instagram.com/the.babyhub" class="instagram" title="Follow on Instagram">
                <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
            </a>
            <a href="https://twitter.com/share?url=http://instgram.com/the.babyhub" class="twitter" title="Share on Twitter">
                <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
            </a>  
        </p>
    </div>
    <!-- FOOTER -->
    <div class="container">
      	<footer>
        	<p class="back-to-top pull-right"><a href="#">Back to top </a><i class="fa fa-angle-up fa-lg" style="color: #4eb5f7;"></i></p>
        	<p>&copy; <strong>2017 The Baby Hub, Inc.</strong></p>
      	</footer>
    </div> <!--container-->
    <!--FOOTER-->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/static/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/e7c7bd093f.js"></script>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-93318501-1', 'auto');
        ga('send', 'pageview');
    </script>
</body>
</html>